@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header section */
.header {
  background-color: #071336;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 7px 100px;
  font-weight: 400;
  font-size: 1em;
}

.small-screen-navbar {
  display: none !important;
}

/* Navigation bar */
.page-navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 90px;
  color: #071336;
  background-color: transparent;
}

.navbar-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo-title {
  font-weight: 700;
  font-size: 1.3em;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list-item {
  display: inline;
  padding: 5px 10px;
  font-weight: 500;
}

.list-item-select {
  border: none;
  padding-right: 5px;
  font-weight: 500;
}


/* Background for big screen */
.main-content-bg {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(
    180deg,
    rgba(9, 23, 56, 1) 20%,
    rgba(37, 82, 82, 1) 97%
  );
  z-index: -1;
}


/* Main content / Cards */
.main-content {
  width: 85%;
  margin: 70px auto;
}

.main-content-text {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  color: #000;
}

.main-content-text-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
}

.main-content-text-paragraph {
  padding: 0 60px;
  font-size: 18px;
}


/* Cards */
.main-content-cards {
  width: 90%;
  margin: 70px auto;
}

.register-link {
  text-decoration: none;
  color: #071336;
}

.course-card {
  width: 90%;
  border: 1px solid black;
  background-color: white;
  margin: 7px 0;
  display: flex;
  align-items: stretch;
}

.course-card-img {
  background-color: #c1c4cd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 160px;
  height: 220px;
}

.card-img-1 {
  background-image: url("./images/card-img-1.png");
}

.card-img-2 {
  background-image: url("./images/card-img-2.png");
  background-position: 35%;
}

.card-img-3 {
  background-image: url("./images/card-img-3.png");
  background-position: 33%;
}

.card-img-4 {
  background-image: url("./images/card-img-4.png");
}

.course-card-info {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-weight: 500;
}

.course-card-subject{
  font-size: 16px;
}

.bi-circle-fill {
  color: #d4e8ef;
}

.course-card-title {
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px 0;
  line-height: 25px;
  font-size: 18px;
}

.icon-info {
  font-weight: 900;
  color: #478b80;
}

.course-card-date{
  font-size: 16px;
}

.course-card-btn,
.explore-btn {
  border: none;
  background-color: #75fa9e;
  padding: 8px 25px;
  border-radius: 7px;
  color: #071336;
  width: auto;
  align-self: flex-start;
  font-weight: 500;
  font-size: 16px;
}

/* Modal */
.modal-main-content{
  width: 90%;
  margin: 40px auto;
  gap: 40px;
  text-align: center;
}

.modal-content{
  border-radius: 0;
  border: 7px solid #071336;
}
.form-title{
  font-size: 30px;
  font-weight: 600;
}
.form-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.form-subtitle-date,
.form-subtitle-location
{
  font-weight: 400;
  font-size: 22px;
}

.icon-span-sm-screen{
  display: none;
}

.number-span {
  display: inline-block; 
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-content{
  color: #071336;
  text-align: center;
}

.form-input,
.form-btn
{
  width: 100%;
  padding: 7px 10px;
  border-radius: 8px;
  border: 1px solid #cdd0d7;
  font-size: 16px;
}

.form-input::placeholder{
  color: #939393;
}

.form-btn{
  background-color: #75fa9e;
  border: none;
  color: #071336;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
/* Explore section */
.explore-section {
  background-color: #071336;
  text-align: center;
  color: white;
  padding: 100px 0;
}
.explore-title {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
}
.explore-subtitle {
  font-weight: 300;
  font-size: 24px;
}
.explore-btn {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  padding: 10px 30px;
}


/* Contact section */
.contact-section {
  margin: 60px auto;
  color: #071336;
  width: 90%;
}

.contact-rightside {
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.contact-img {
  width: 200px;
  height: 200px;
  border: 6px solid #071336;
  background-image: url("./images/contact-img-final.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-text-info {
  width: 80%;
  font-weight: 500;
  font-size: 18px;
}

.contact-title {
  font-weight: 700;
  font-size: 22px;
}

.contact-paragraph{
  font-weight: 500;
  font-size: 22px;
}

.contact-paragraph-a {
  color: #071336;
  padding: 0 10px;
}

.contact-btn {
  border: none;
  background-color: #75fa9e;
  color: #071336;
  padding: 10px 22px;
  font-weight: 700;
  border-radius: 7px;
  font-size: 18px;
}

.contact-icon {
  padding-right: 5px;
}

.email-icon{
  display: flex;
}

/* Footer section */
.page-footer {
  background-color: #071336;
  color: white;
  padding: 40px 20px 10px 20px;
}

.columns-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  max-width: 90%;
  margin: 0 auto;
}
.footer-column {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-text {
  color: #8d93a5;
  font-size: 16px;
  font-weight: 500;
}

.footer-title-socials{
  font-size: 17px;
  font-weight: 400;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
}

.footer-icons {
  display: flex;
  gap: 32px;
  font-size: 26px;
  color: #75fa9e;
}

.footer-list {
  list-style: none;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
}

.list-column{
  margin-top: 20px;
}
.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.second-list-footer{
  padding-left: 70px;
}
.footer-last-list{
  padding: 0;
}
.footer-bottom{
  text-align: center;
  margin-top: 60px;
  font-weight: 400;
  font-size: 14px;
}

/* responsivity */

@media (min-width: 1920px) {
  .header {
    background-color: #fff;
    color: #071336;
    font-weight: 500;
  }
  .page-navbar {
    background-color: #071336;
    color: white;
  }
  .navbar-list {
    margin: 0;
    padding: 0;
  }
  .navbar-list-item,
  .list-item-select {
    background-color: transparent;
    color: white;
  }
  .navbar-logo img {
    content: url("./images/small-screen-logo.png");
    width: 45px;
  }

  .main-content-bg {
    display: block;
  }
  .main-content {
    position: relative;
  }
  .main-content-text {
    color: white;
  }
}

@media (max-width: 992px) {
  .header {
    display: none;
  }
  .page-navbar {
    display: none;
  }
  .small-screen-navbar {
    display: flex !important;
    background-color: #071336;
  }
  .navbar-logo-title-small {
    font-weight: 700;
    font-size: 1.3em;
    color: white;
  }
  .main-content {
    width: 100%;
    margin: 20px auto;
  }
  .main-content-text-title {
    margin: 0;
    padding: 20px 0;
    font-size: 32px;
  }
  .main-content-text-paragraph {
    padding: 0;
    margin: 0;
  }
  .course-card-img {
    width: 120px;
    height: 120px;
  }

  .course-card-title {
    font-size: 14px;
  }

  .explore-section {
    padding: 100px 40px;
  }

  .footer-logo img {
    width: 100%;
    max-width: 200px;
  }

}

@media (max-width: 768px) {
  .main-content-text{
    width: 100%;
    padding: 20px;
  }
  .main-content-cards{
    width: 95%;
    margin-left: 20px;
  }
  .course-card {
    flex-direction: row;
    align-items: center;
  }
  .course-card-img {
    width: 100px;
    height: 100px;
    align-self: flex-start;
  }
  .course-card-info {
    padding-left: 10px;
  }
  .course-card-title {
    font-size: 18px;
  }
  .course-card-btn {
    padding: 6px 15px;
    font-size: 14px;
  }

  .contact-rightside{
    width: 90%;
    text-align: center;
  }
  .contact-title{
    font-size: 22px;
  }
  .contact-section {
    padding: 5px;
  }
  .contact-img {
    width: 150px;
    height: 150px;
  }

  .contact-text-info {
    width: 90%;
    margin-top: 10px;
    font-size: 18px;
  }
  .contact-paragraph{
    font-size: 22px;
  }

  .email-icon{
    display: none;
  }

  .contact-btn {
    font-size: 20px;
    padding: 15px 25px;
  }

  .explore-section{
    width: 100%;
    padding: 100px 25px;
  }
  .explore-title{
    font-size: 28px;
  }
  .explore-subtitle{
    font-size: 18px;
  }
  .footer-logo img {
    width: 100%;
    max-width: 200px;
  }

  .footer-title-socials{
    font-size: 16px;
  }

  .footer-text{
    color: white;
    font-size: 15px;
  }

  .footer-list-item {
    text-align: start;
    font-size: 14px;
    font-weight: 300;
  }

  .footer-title{
    text-align: start;
    font-size: 16px;
  }

  .second-list-footer,
  .footer-last-list{
    padding: 0 25px;
  }

  .footer-bottom {
    border-top: 1px solid #c1c4cd;
    padding: 10px 20px;
    font-size: 11px;
  }
  /* modal */
  .modal-main-content {
    margin: 50px auto;
    padding: 10px;
  }

  .form-title {
    font-size: 26px;
    font-weight: 700;
  }

  .form-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-subtitle-date,
  .form-subtitle-location{
    font-weight: 400;
    font-size: 18px;
  }

  .icon-span-sm-screen{
    display: inline-block;
    color: #75fa9e;
  }
  .number-span{
    display: none;
  }

  .form-input,
  .form-btn {
    width: 90%;
    font-size: 16px;
  }

  .form-btn{
    font-size: 18px;
    font-weight: 500;
  }

  .register-img {
    display: none;
  }
}

@media (max-width: 576px) {
  .course-card-img {
    width: 80px;
    height: 100px;
    align-self: start;
  }

  .course-card-title {
    font-size: 16px;
    line-height: 18px;
  }

  .course-card-btn {
    padding: 10px 20px;
    font-size: 12px;
  }
}
