*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{
    width: 80%;
    margin: 100px auto;
    gap: 40px;
}
.form-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.form-subtitle-date,
.form-subtitle-location
{
    font-weight: 400;
    font-size: 20px;
}

.icon-span-sm-screen{
    display: none;
}

.number-span {
    display: inline-block; /* Visible by default */
}

.form-content{
    color: #071336;
    text-align: center;
}

.form-input,
.form-btn
{
    width: 100%;
    padding: 7px 10px;
    border-radius: 7px;
    border: 1px solid #cdd0d7;
}

.form-input::placeholder{
    color: #939393;
}

.form-btn{
    background-color: #75fa9e;
    border: none;
    color: #071336;
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .main-content{
        width: 100%;
        margin: 10px auto;
    }

    .form-title{
        font-size: 34px;
        font-weight: bold;
    }

    .form-subtitle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-subtitle-date
    {
        font-size: 24px;
    }
    .number-span{
        display: none;
    }
    .icon-span-sm-screen {
        display: inline-block;
        color: #75fa9e;
    }
    .register-img{
        display: none;
    }
    
}
